<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="stylesheet" href="/style.css">
        <title>Img OCR</title>
    </head>
    <body>
        <div class="page_title">Image OCR</div>
        <h1></h1>
        <form class= "form_crap" action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="avatar" />
            <button type="submit">Convert</button>
        </form>
    </body>
</html>
